@unboxy:registry=https://unboxy-139517006834.d.codeartifact.us-east-1.amazonaws.com/npm/npm-packages/
//unboxy-139517006834.d.codeartifact.us-east-1.amazonaws.com/npm/npm-packages/:always-auth=true
//unboxy-139517006834.d.codeartifact.us-east-1.amazonaws.com/npm/npm-packages/:_authToken=${CODEARTIFACT_AUTH_TOKEN}
